body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

svg {
  background: #FFF;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.legendItem {
  fill: #fff;
  font-size: 13px;
}

text {
  text-anchor: middle;
  fill: #666;
}