.DS_Store
.vscode
*.pyc
software/scripts/spec/data
software/scripts/spec/schema.rb
software/scripts/spec/schema_context.rb
software/scripts/spec/examples_spec.rb
/.byebug_history
software/scripts/rspec-failures.txt
/rspec-failures.txt
/admin/deploy_timestamp.txt
/datacoms
software/site/*
/testsite/*
/tmp
