*.pyc
.DS_Store
.dir-locals.el
.env
.vscode
/.byebug_history
/rspec-failures.txt
/software/scripts/Gemfile.lock
/software/scripts/rspec-failures.txt
/software/scripts/spec/data
/software/scripts/spec/examples_spec.rb
/software/scripts/spec/schema.rb
/software/scripts/spec/schema_context.rb
/software/scripts/spec/schemas.rb
/tmp
software/scripts/.bundle
software/scripts/Gemfile.lock
software/site/*
