.DS_Store
.vscode
*.pyc
/software/scripts/spec/data
/software/scripts/spec/schema.rb
/software/scripts/spec/schemas.rb
/software/scripts/spec/examples_spec.rb
/software/scripts/spec/schema_context.rb
/software/scripts/rspec-failures.txt
/.byebug_history
/rspec-failures.txt
software/site/*
/tmp
software/scripts/Gemfile.lock
