#termfindwrap {
    display: inline-flex;
    position: absolute;
    flex-direction: column;
}
#termfind {
    display: block;
    margin: auto;
    width: fit-content;
    background-color: #fff;;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
}
#termfindprompt {
    display: inline-block;
    padding-left: 10px;
    order: 1;
    font-size:larger;
}
#suggestionwrap {
    display: none;
    order: 2;
    padding-left: 10px;
    transition: height 1.5s linear 1.5s;
    z-index: 99;
}
#suggestionwrap.show{
    display: block;
}
#suggestions {
    display: block;
    font-size: 13px;
    width: fit-content;
    color: black;
    margin: 0 auto 0 auto;
    border: 1px solid lightgrey;
    border-radius: 2px 2px 7px 7px;
    box-shadow: 2px 2px lightgrey;
    background-color: ivory;
    max-height: 14.25em;
    overflow-y: auto;
   
}

.matchtable {
    display: table;
    text-align: left;
}
.matchrow {
    display: table-row;
    cursor: pointer;
}
.matchrow:hover {
    background-color: lightgrey;
}

.matchlabel {
    display: table-cell;
    font-family: monospace;
    padding-left: 5px;
}
.matchtype {
    display: table-cell;
    font-weight: lighter;
    font-size: smaller;
    font-style: italic;
    padding: 0 5px 0 5px;
}
.matchchars {
    font-weight: bold;
}
