{% macro term_sdotermlink(term,props="") -%}
    {% if term.pending %}{% set CLASS = "ext ext-pending" %}
    {% elif term.retired %}{% set CLASS = "ext ext-attic" %}
    {% else %}{% set CLASS = "core" %}
    {% endif %}
    {% if term.id %}{% set name = term.id %}{% else %}{% set name = term %}{% endif %}
    <a href="{{TERMHREFPREFIX}}{{name}}{{TERMHREFSUFFIX}}" {{props|safe}} class="{{CLASS}}" title="{{name}}">{{name}}</a>
{%- endmacro %}

{% macro docs_sdotermlink(term,text="",arialabelpre="",props="") -%}
    {% if term.pending %}{% set CLASS = "ext ext-pending" %}
    {% elif term.retired %}{% set CLASS = "ext ext-attic" %}
    {% else %}{% set CLASS = "core" %}
    {% endif %}
    {% if term.id %}{% set name = term.id %}{% else %}{% set name = term %}{% endif %}
    {% if text|length %}{% set label = text %}{% else %}{% set label = name %}{% endif %}
    
    <a href="{{TERMHREFPREFIX}}{{name}}{{TERMHREFSUFFIX}}" {{props|safe}} 
            {% if arialabelpre|length %}aria-label="{{arialabelpre}}{{term.id}}"{% endif %} 
            class="{{CLASS}}" title="{{name}}">{{label|safe}}</a>
{%- endmacro %}
