<head>
    <title>{{ title }} - {{ sitename }} {{ SUBNAME }}</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schema.org is a set of extensible schemas that enables webmasters to embed
    structured data on their web pages for use by search engines and other applications." />
    <link rel="shortcut icon" type="image/png" href="{{docsdir}}/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/schemaorg.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/devnote.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/prettify.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/devnote.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{docsdir}}/schemaorg.js"></script>
    {% if head_insert_available %}
        {{ head_insert() }}
    {% endif %}
    
</head>
