<head>

    <title>{{ title }} - {{ sitename }} {{ TERMTYPE }}</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schema.org {{TERMTYPE}}: {{term.label}} - {{term.comment}}" />
    <link rel="shortcut icon" type="image/png" href="{{docsdir}}/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/schemaorg.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/devnote.css" />
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/prettify.css" />
    <script src="{{docsdir}}/prettify.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="{{docsdir}}/debugwindow/viewconsole.js"></script> -->
    <script src="{{docsdir}}/sdotermpage.js"></script>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/sdotermpage.css" />
    <script src="{{docsdir}}/pretty-markup/schemarama-parsing.bundle.min.js"></script>
    <script src="{{docsdir}}/pretty-markup/layout.js"></script>
    <link rel="stylesheet" type="text/css" href="{{docsdir}}/pretty-markup/style.css" />
    <script src="{{docsdir}}/clipboard/clipboard.min.js"></script>

<link rel="canonical" href="https://schema.org/{{term.id}}" />
   
</head>