<div id="jumpmenu">
<div id="jumphead">
Go to <span class="closedarrow"> ▶︎ </span><span class="openarrow"> ▼ </span>
</div>
<div id="jumpselections">
<a title="Top" href="#headerwrap" class="jumselector">Top</a>

</div>

</div>