<div id="jumpmenu" class="jumpclosed">
<div id="jumphead">
Go to <span class="jumpopenarrow"> ▼ </span>
</div>
<div id="jumpselections">
<a title="Top" href="#headerwrap" class="jumpselector">Top</a>

</div>

</div>