<!-- List subs (Subtypes/subproperties/enumeration members/etc.) for Term -->

{% for sub in SUBLIST %}
    {% if loop.first %}
     <br/><b><a  id="subtypes" title="{{SUBTITLE}}" href="#subtypes" class="clickableAnchor jumptarget" >{{SUBLABEL}}</a></b><ul>
    {% endif %}
    {% if not sub.retired and not sub.superseded %}
        <li>{{ sdotermlink(sub)|safe }}</li>
    {% endif %}
    {% if loop.last %}
     </ul>
    {% endif %}
{% endfor %}
