{% if term.supersedes|length > 0 %}
	<table class="definition-table"><thead><tr><th>Supersedes</th></tr></thead>
	<tr><td><code>{% for ss in term.supersedes %}{% if not loop.first %} <br/>{% endif %}
            {{ sdotermlink(ss)|safe }}{% endfor %}</code></td></tr>
     </table>
{% endif %}
{% if term.supersededBy|length > 0 %}
	<table id="supersededby" class="definition-table"><thead><tr><th>SupersededBy</th></tr></thead>
	<tr><td><code>{{ sdotermlink(term.supersededBy)|safe }}</code></td></tr>
     </table>
{% endif %}
