{% for prop in term.expectedTypeFor %}
  {% if loop.first %}
	<br/><div id="incoming" class="jumptarget incoming-hdr" title="Value for"><h4>Value for</h4>Instances of {{ sdotermlink(term.id)|safe}} {{INSERT}} may appear as a value for the following properties</div>
	<div class="definition-table">
    <div class="table">
        <div class="table-row props-hdr tabletop">
            <div class="table-cell props-hdr-nam tabletop-left"><div class="cell-inner">Property</div></div>
            <div class="table-cell props-hdr-ect table-top-center"><div class="cell-inner">On Types</div></div>
            <div class="table-cell props-hdr-desc tabletop-right"><div class="cell-inner">Description</div></div>
        </div>
        {% if not loop.last %}
            <div class="table-row prop-row-first">
        {% else %}
            <div class="table-row prop-row-last">
        {% endif %}
    {% elif loop.last %}
        <div class="table-row prop-row-last">
    {% else %}
        <div class="table-row prop-row-rest">
    {% endif %}

          <div class="table-cell prop-nam"><div class="cell-inner">{{ sdotermlink(prop.id)|safe}}</div></div>
          <div class="table-cell prop-ect"><div class="cell-inner">{% for ect in prop.domainIncludes %}{% if not loop.first %}&nbsp; or <br/>{% endif %}{{ sdotermlink(ect)|safe}}{% endfor %}</div></div>
          <div class="table-cell prop-desc"><div class="cell-inner">{{ prop.comment | safe}}</div></div>
        </div> 
  
  {% if loop.last %}
	  </div>
   </div>
  {% endif %}

{% endfor %}
