/* -- page structure -- */
#container
{
width: 100%;
text-align: left;
margin: 0;
background: #fff;
}
#intro
{
position: relative;
}
#mainContent
{
/* margin: 0 50px 15px 50px; */
padding-bottom: 5px;
border-bottom: solid 1px #CCCCCC;
text-align: left;
}
#mainContent, #footer {
 max-width: 960px;
 min-width: 350px;
 margin: 0 auto;
}
#footer
{
text-align: right;
font-size: x-small;
}
#mainContent, #footer, .wrapper {
 max-width: 960px;
 min-width: 350px;
 margin: 0 auto !important;
 padding: 0 40px;
}

/* -- general -- */
body
{
color: #3A4956;
font-size: 75%;
font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif;
line-height: 160%;
margin: 0;
padding: 0;
text-align: center;
}
code
{
font-family: Courier, monospace;
}
h1
{
font: bold 24px Helvetica, Arial, sans-serif;
color: #990000;
letter-spacing: -1px;
margin: 2em 0 0 0;
}

h2 {
border-top: 1px solid #990000;
padding-top: 5px;
clear: both;
color: #990000;
font: normal 18px Helvetica, Arial, sans-serif;
margin: 2em 0 0 0;
}
h3 {
font-size: 12px;
color: #660000;
margin: 1em 0 0 0;
position: relative;
top: 8px;
}
/*
h3
{
//font-size: 12px;
color: #660000;
//margin: 1em 0 0 0;
//position: relative;
//top: 8px;
}
*/
hr
{
border: none;
height: 1px;
background: #ccc;
margin: 2em 0 4em 0;
}
p
{
margin: 1em 0 0 0;
}
pre
{
font-family: Courier, monospace;
font-size: 120%;
background: #E1E1E1;
width: auto;
padding: 5px 5px 5px 10px;
margin: 1em 0 0 0;
text-align: left;
overflow: auto;
}

/* -- header/title -- */
#pageHeader
{
width: 100%;
height: 80px;
background: #990000;
}
#pageHeader h1
{
color: #fff;
margin: 0;
padding-top: 25px;
font: bold Helvetica, Arial, sans-serif;
letter-spacing: -1px;
text-shadow: 0 2px 0 #510000;
}
#pageHeader a:link, #pageHeader a:hover, #pageHeader a:visited
{
color: #fff;
background-color: #990000;
text-decoration: none;
}

#cse-search-form {
  float: right;
  margin-top:20px;
  width: 248px !important;
}
@media all and (max-width: 720px) {
  #pageHeader {
    height: 120px;
  }
  #cse-search-form {
    margin-left: 15px;
    margin-top: 20px;
  }
}

/* -- nav bar -- */
#selectionbar
{
color: #fff;
height: 46px;
background: #660000;
font-size: 90%;
}
#selectionbar ul
{
  float: right;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}
#selectionbar li
{
display: inline;
list-style: none;
}
#selectionbar a:link, #selectionbar a:visited
{
color: #fff;
display: block;
float: right;
padding: 1px 9px 3px 6px;
margin: 0 6px;
text-decoration: none;
}
#selectionbar a:hover
{
color: #FFEE99;
background-color: transparent;
}
#selectionbar .activelink a
{
background: #990000;
}
#selectionbar .activelink a:hover
{
color: #fff;
background-color: #990000;
cursor: default;
}


/* -- main content -- */
#mainContent
{
font-size: 100%;
}
#mainContent ul li
{
list-style: inherit;
padding: 0 0 0 5px;
margin: 0;
}
a:link
{
color: #660000;
text-decoration: none;
border-bottom: dotted 1px #660000;
}
a:visited
{
color: #990000;
text-decoration: none;
border-bottom: dotted 1px #990000;
}
a:hover
{
border-bottom: none;
color: #fff;
background-color: #660000;
text-decoration: none;
}
#mainContent blockquote
{
padding: 0 0 0 15px;
margin: 10px 0 10px 15px;
width: auto;
float: right;
border-left: thin dotted #000;
}


/* -- faq -- */
.faq p, .faq pre, .faq ul, .faq table, .faq
{
margin: .5em 0 0 50px;
padding-top: 0px;
padding-bottom: 2px;
}
.faq h1
{
margin-bottom: 1em;
}
.faq ul, .faq ol
{
padding-left: 30px;
margin-left: 50px;
}
#mainContent .question
{
font-weight: bold;
margin: 1.5em 0 0 0;
padding-top: 0px;
padding-bottom: 2px;
}

/* -- types -- */
table.definition-table
{
margin: 1em 0 0 0;
border: 1px solid #98A0A6;
}
.definition-table th
{
text-align: left;
background: #C7CBCE;
padding-left: 5px;
}
.definition-table td
{
padding: 0 5px 2px 5px;
margin: 0;
vertical-align: top;
}
.definition-table td p
{
padding: 0 0 .6em 0;
margin: 0;
}
.definition-table td ul
{
padding-top: 0;
margin-top: 0;
}
.definition-table tr.alt
{
background: #E9EAEB;
}
div.attrib
{
padding-bottom: 1em;
}

/* -- hierarchy -- */
table.h, .h tr, .h td
{
border: none;
margin: 0;
padding: 0;
border-collapse: collapse
}
.h .space
{
width: 20px
}
.h .bar
{
background-color: #000;
width: 1px
}
.h .tc
{
text-indent: -21px;
padding-left: 21px
}

/* -- other -- */
.backtotop, .faq .backtotop
{
float: right;
clear: both;
padding: 3em 0 0 4em;
padding: 0;
font-size: 90%;
}
.date, .faq .date
{
color: #BFC3C7;
text-align: right;
font-size: x-small;
clear: both;
padding-top: 4em;
}
.version
{
color: #BFC3C7;
text-align: right;
font-size: x-small;
clear: both;
padding-top: 1em;
}

#selectionbar ul
{
float: right;
padding: 10px 0;
}
#mainContent, #footer, .wrapper {
 max-width: 960px;
 min-width: 350px;
 margin: 0 auto !important;
 padding: 0 40px;
}
#sitename {
    max-width: 500px;
    min-width: auto;
	display: inline-block;
    text-shadow: 0 2px 0 #510000;
    padding: 0;
    top: 25px; left: -40px;	
}
#selectionbar ul {
  margin: 0 auto;
  display: block;
}
#cse-search-form {
  float: right;
  /*margin-top:-20px;*/
  width: 248px !important;
}
gsc-input input.gsc-input { background: #FFF !important;}

@media all and (max-width: 720px) {
  #pageHeader {
    height: 120px;
  }
  #cse-search-form {
    margin-left: 15px;
    margin-top: 20px;
  }
}

/* -- extras -- */

input.gsc-input {
  border-color: #660000;
  color: #333333;
  font-family: "Lucida Grande" , "Lucida Sans Unicode" , Verdana, Tahoma, Arial, sans-serif;
  font-size: 11px;
  padding: 3px;
  width: 99%;
}
input.gsc-search-button {
  background-color: #660000;
  border-color: #660000;
  color: #fff;
  font-family: inherit;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 8px;
  text-shadow: none;
}
.gsc-input input.gsc-input {
  background: none repeat scroll 0% 0% white !important;
  border-color: #660000;
  padding: 3px;
  width: 99%;
}
.gsc-clear-button {
  display: none;
}

/* example tab selection */
.ds-selector-tabs {
  padding-bottom: 2em;
}
.ds-selector-tabs .selectors {
  padding: 0;
  border-bottom: 1px solid #ccc;
  height: 28px;
}
.ds-selector-tabs .selectors a {
  display: inline-block;
  min-width: 54px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  transition: all,0.218s;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #666;
  border: 1px solid transparent;
}
.ds-selector-tabs .selectors a:first-child {
  margin-left: 2px;
}
.ds-selector-tabs .selectors a.selected {
  color: #202020 !important;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff !important;
}
#mainContent .ds-selector-tabs .selectors a:hover {
  background-color: transparent;
  color: #202020;
  cursor: pointer;
}
.ds-selector-tabs pre {
  display: none;
}
.ds-selector-tabs pre.selected {
  display: block;
}

/* Extension links */
a.ext:link {
   color: #0000aa !important;
   border-bottom: dotted 1px #0000aa !important;
   text-decoration: none;
}
a.ext:visited {
   color: #0000cc !important;
   border-bottom: dotted 1px #0000cc !important;
   text-decoration: none;
}
a.ext:hover {
   color: #fff !important;
   background-color: #0000cc;
   text-decoration: none;
}

/* Bib extension links overriding default 'ext' values
a.ext.ext-bib:link{
   color: #009900 !important;
   border-bottom: dotted 1px #009900;
   text-decoration: none;
}
a.ext.ext-bib:visited {
   color: #00bb00 !important;
   border-bottom: dotted 1px #00bb00;
   text-decoration: none;
}
a.ext.ext-bib:hover {
   color: #fff !important;
   background-color: #00bb00;
   text-decoration: none;
}
*/



.layerinfo {
    width: 100%; /* compatibility */
    background-color: #990000;
    color: #fff;
    text-align: right;
    font-weight: bold;
    padding: 0.7em;
}
#lli a:link {  text-decoration: underline; color : #fff;  background-color: #990000; text-decoration: none; }
#lli a:visited {  text-decoration: underline; color : #fff;  background-color: #990000; text-decoration: none; }


/* Style overrides based on sitemode */

.testsite {

    color: black;
    background-color: #EEE;

/*
  color: green;
  background-color: #DDFF00;
  background: #DDFF00;
  font-weight: 900;
  background-image: url(draft.jpg);
  background-repeat:repeat;
*/

}

.needsreview {

  background-color: #FAEBD7;

}
