@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* color: var(--new-schema-org-red-berry, #900); */
:root {
  --new-schema-org-red-berry: #900;
  --new-schema-org-red-berry-light: rgba(153,0,0,.03);
  --new-schema-org-shark: #212529;
  --header-height: 6rem;
}

/* -- page structure -- */
#container
{
width: 100%;
text-align: left;
margin: 0;
background: #fff;
}
#intro
{
position: relative;
}
#mainContent {
  padding: 3rem 0 6rem 0;
}

#mainContent, #headerwrap {
  margin: 0 2rem;
}

/* section {
  max-width: 40rem;
} */

#footer {
  height: 5.375rem;
  background: var(--new-schema-org-red-berry-light);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  margin-top: auto;

  .sep {
    padding: 0 .5rem;
  }
}

#mainContent, #footer, .wrapper {
  /* margin: 0 auto !important; */
  /* padding: 0 0.5em; */
}

/* -- general -- */
body
{
  /* font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529; */
  color: var(--new-schema-org-shark, #212529);

  /* NewSchema.org/Text-P */
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 143.75% */
  letter-spacing: -0.01rem;

  background: #FFF;
  display: flex;
  flex-direction: column;
  /* font-family:  Verdana, Tahoma, Arial, sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* text-align: center; */
}
code
{
font-family: Courier, monospace;
}

h1 {
  margin: 2rem 0 1rem;

  font-family: Manrope;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.7625rem; /* 130% */
  letter-spacing: -0.02125rem;
  /* color: var(--new-schema-org-red-berry, #900); */
}

h2 {
  color: var(--new-schema-org-shark, #212529);
  margin: 2rem 0 1rem;

  /* NewSchema.org/H2 */
  font-family: Manrope;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem; /* 135.714% */
  letter-spacing: -0.0175rem;
}

h3 {
  color: #212529;
  margin: 1.5rem 0 1rem;

  /* NewSchema.org/H3 */
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.015rem;
}


h4
{
/* font-size: 100%;
margin: 0.5em 0 1em 0;
position: relative; */
  margin: 1rem 0 .25rem;
color: green;
/* margin: 0; */
/* margin: 0.5em 0 0 0; */
}

hr
{
border: none;
height: 1px;
background: #ccc;
margin: 2em 0 4em 0;
color: green;
}
/* p
{
margin: 1em 0 0 0;
} */
p.bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
pre
{
font-family: Courier, monospace;
/* font-size: 120%; */
background: #E1E1E1;
width: auto;
padding: 5px 5px 5px 10px;
margin: 1em 0 0 0;
text-align: left;
overflow: auto;
}

pre.small{
  font-size: 80%;
}

small {
   font-size: x-small;
}

#infohead {
  padding-bottom: 5px;
}

.superPaths{
  padding-top:5px
}
/* -- main content -- */
#mainContent ul,
#mainContent ol {
margin: .5rem 0;
}

#mainContent ul li,
#mainContent ol li
{
list-style: inherit;
padding: 0 0 0 .5rem;
margin: 0 0 .5rem 0;
}
#mainContent li p,
#mainContent dd p {
  margin-top: 0;
}
a:link
{
color: #660000;
text-decoration: none;
}
a:visited
{
color: #990000;
text-decoration: none;
}
a:hover
{
color: #660000;
text-decoration: none;
border-bottom: dotted 1px #660000;
}
#mainContent blockquote
{
padding: 0 0 0 15px;
margin: 10px 0 10px 15px;
width: auto;
float: right;
border-left: thin dotted #000;
}

#versioninfo {
    /* font-size: x-small;
    text-align: left;
    display: inline-block;
    float: left;
    color: #cccccc; */
}


/* -- faq -- */
article section {
  margin: 3rem 0;
}
/* .faq p, .faq pre, .faq ul, .faq table, .faq
{
margin: .5em 0 0 50px;
padding-top: 0px;
padding-bottom: 2px;
} */
/* .faq ul, .faq ol
{
padding-left: 30px;
margin-left: 50px;
} */
#mainContent .question
{
font-weight: bold;
margin: 1.5em 0 0 0;
padding-top: 0px;
padding-bottom: 2px;
}

/* -- types -- */
table.definition-table
{
margin: 1em 0 0 0;
border: 1px solid #98A0A6;
}
.definition-table th
{
text-align: left;
background: #C7CBCE;
padding-left: 5px;
}
.definition-table td
{
padding: 0 5px 2px 5px;
margin: 0;
vertical-align: top;
}
.definition-table td p
{
padding: 0 0 .6em 0;
margin: 0;
}
.definition-table td ul
{
padding-top: 0;
margin-top: 0;
}
.definition-table tr.alt
{
background: #E9EAEB;
}
div.attrib
{
padding-bottom: 1em;
}

/* -- hierarchy -- */
table.h, .h tr, .h td
{
border: none;
margin: 0;
padding: 0;
border-collapse: collapse
}
.h .space
{
width: 20px
}
.h .bar
{
background-color: #000;
width: 1px
}
.h .tc
{
text-indent: -21px;
padding-left: 21px
}

/* -- other -- */
.backtotop, .faq .backtotop
{
float: right;
clear: both;
padding: 3em 0 0 4em;
padding: 0;
font-size: 90%;
}
.date, .faq .date
{
color: #BFC3C7;
text-align: right;
font-size: x-small;
clear: both;
padding-top: 4em;
}
.version
{
color: #BFC3C7;
text-align: right;
font-size: x-small;
clear: both;
padding-top: 1em;
}


.ds-selector-tabs {
  padding-bottom: 2em;
}
.ds-selector-tabs .selectors {
  padding: 0;
  border-bottom: 1px solid #ccc;
  height: 28px;
}
.ds-selector-tabs .selectors a {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  transition: all,0.218s;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #666;
  border: 1px solid transparent;
}
.ds-selector-tabs .selectors a:first-child {
  margin-left: 2px;
}
.ds-selector-tabs .selectors a.selected {
  color: #202020 !important;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff !important;
}
#mainContent .ds-selector-tabs .selectors a:hover {
  background-color: transparent;
  color: #202020;
  cursor: pointer;
}
.ds-selector-tabs .ds-tab {
  display: none;
}
.ds-selector-tabs .ds-tab.selected {
  display: block;
}

/* Clickable Anchor links */
a.clickableAnchor:link {
   color: #3A4956 !important;
   border-bottom: 0px !important;
   text-decoration: none;
}
a.clickableAnchor:visited {
    color: #3A4956 !important;
    border-bottom: 0px !important;
    text-decoration: none;
}
a.clickableAnchor:hover {
   color: #3A4956 !important;
   background-color: #3A4956 !important;
   text-decoration: none;
}
/* Core links */
a.core:link {
   color: #660000 !important;
   border-bottom: 0px !important;
   text-decoration: none;
}
a.core:visited {
    color: #660000 !important;
    border-bottom: 0px !important;
    text-decoration: none;
}
a.core:hover {
  color: #660000;
  text-decoration: none;
  border-bottom: dotted 1px #660000 !important;
}
/* Extension links */
a.ext:link {
   color: #0000aa !important;
   border-bottom-color:#0000aa !important;
   text-decoration: none;
}
a.ext:visited {
   color: #0000cc !important;
   border-bottom-color:#0000cc !important;
   text-decoration: none;
}
a.ext:hover {
  color: #0000cc;
  text-decoration: none;
  border-bottom: dotted 1px #0000cc;
}
/* External links */
a.externlink:link {
   color: #000 !important;
   border-bottom: dotted 1px #000 !important;
   text-decoration: none;
}
a.externlink:visited {
   color: #000 !important;
   border-bottom: dotted 1px #000 !important;
   text-decoration: none;
}
a.externlink:hover {
  color: #000;
  text-decoration: none;
  border-bottom: dotted 1px #000;
}

/* Attic extension links overriding default 'ext' values */
a.ext.ext-attic:link{
   color: #888888 !important;
   border-bottom: dotted 1px #888888 !important;
   text-decoration: none;
}
a.ext.ext-attic:visited {
   color: #888888 !important;
   border-bottom: dotted 1px #888888 !important;
   text-decoration: none;
}
a.ext.ext-attic:hover {
   color: #fff !important;
   background-color: #bbbbbb;
   text-decoration: none;
}




.layerinfo {
    width: 100%; /* compatibility */
    background-color: #990000;
    color: #fff;
    text-align: right;
    font-weight: bold;
    padding: 0.7em;
}
#lli a:link {  text-decoration: underline; color : #fff;  background-color: #990000; text-decoration: none; }
#lli a:visited {  text-decoration: underline; color : #fff;  background-color: #990000; text-decoration: none; }


/* Style overrides based on sitemode */

.testsite {

    color: black;
    background-color: #EEE;

/*
  color: green;
  background-color: #DDFF00;
  background: #DDFF00;
  font-weight: 900;
  background-image: url(draft.jpg);
  background-repeat:repeat;
*/

}

.needsreview {

  background-color: #FAEBD7;

}

.devnote {
  padding: 0.3em;
  font-size: 0.9rem;
  background-color:#d9edf7;
  color: #000;
  text-align: center;
  border: 1px solid #bce8f1;
}

.pendnote {
  padding: 0.7em;
  background-color:#fcf8e3;
  color: #000;
  border: 1px solid #faebcc;
}

.extlink {
    font-size: 85%;
}
.tag    { color: #000; }    /* div, span, etc   */
.atn    { color: #000; }    /* href, datetime,  */
.custom { color: #660003; } /* itemscope, itemtype, etc,. */

.collab_desc {
  margin-left: 2em;
  margin-right: 2em;
  padding: 5px;
  background-color: #eeeeee;
  font-size: larger;
}

.collab_breadcrumb {
  padding-bottom: 10px;
}
.collab_title {
  display:inline-block;
  margin-right: 5px;
}

.collab_img {
  display: inline-block;
  margin-left: 5px;
}

.collab_img img {
  height: 50px;
}

.collab_url {
  font-size: smaller;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
:root {
  /* --font-size: 1rem; */
  /* --font-weight: 400; */
  /* --line-height: 1.5; */
  /* --color: #212529; */
  /* --header-block-height: 120px; */
  }

  #pagehead1 {
    display: flex;
    font-size: 0;
    width: 100%;
    /* max-width: 960px;
    * background-color: #990000; */
    height: var(--header-height);
    /* vertical-align: middle; */
    margin-left: auto;
    margin-right: auto;
    }
  /* #pagehead1:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    } */

  #pagehead-left{
    width: 10rem;
    font-size: 0;
    text-align: left;
    /* background-color: #990000; */
    text-align:left;
    /* height: 100%; */
  }
  #pagehead-mid{
    /* width: auto; */
    flex-grow: 1;
    /* text-align: right; */
    /* background-color: #990000; */
    /* height: 80px; */
  }
  #pagehead-right{
    width: 30%;
    /* text-align: right; */
    /* background-color: #990000; */
    /* height: 80px; */
    display: flex;
    align-items: center;
  }
  
  .header-block {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* height: 100px; */
  }

  /* .header-block:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    } */

  .header-block-right {
    font-size: 1rem;
    /* text-align: right; */
  }

  .header-bottom {
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: #900;
  }

  #sitename2 {
    display: inline-block;
    margin: 0;
    /* max-width: 500px;
    min-width: auto;
    color: #fff;
    padding: 25px;
    font: bold 1.5rem Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    text-shadow: 0 2px 0 #510000; */
  }

  #sitename2 a {
    font-family: Manrope;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 1.5rem; 133.333% */
    line-height: var(--header-height);
    letter-spacing: -0.01125rem;
  }

  #sitename2 a:link, #sitename2 a:visited{
    color: #202020;
  }

  #selectionbar2 {
    display: inline-block;
  }
  #selectionbar2 ul
  {
    padding: 0;
    margin: 0;
    display: inline;
    /* color: #fff; */
  }
  #selectionbar2 li
  {
    display: inline;
    list-style: none;
  }
  #selectionbar2 a {
    line-height: var(--header-height);
  }

  #selectionbar2 a:link, #selectionbar2 a:visited
  {
    color: var(--new-schema-org-red-berry, #900);

/* NewSchema.org/Text-P (bold) */
font-family: Manrope;
font-size: 1rem;
font-style: normal;
font-weight: 700;
/* line-height: 1.5rem; 150% */
letter-spacing: -0.01rem;

    /* color: #fff !important; */
    display: inline;
    padding: 0;
    margin: 0 2rem 0 0;
    /* opacity: 0.8; */
    text-decoration: none !important;
  }
  /* #selectionbar2 a:hover
  {
    color: #fff !important;
    display: inline;
    opacity: 1;
    background-color: transparent;
    text-decoration: none !important;
    border-bottom: 0;
    cursor: pointer;
  } */
  #cse-search-form2 {
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    width: 100%;
   }

/* GSC Stuff */
#cse-search-form2 #___gcse_0 {
/* width: 200px; */
/* padding-right: 25px; */
border: 1px solid #212529;
border-radius: 24px;
height: 46px;
}

#cse-search-form2 .gsib_a {
padding: 3px 9px 3px 9px;
}
#cse-search-form2 .gsib_b {
/* display: none; */
}
#cse-search-form2 .gsc-input-box {
/* border: none; */
}
#cse-search-form2 form.gsc-search-box,#main-header table.gsc-search-box {
margin-bottom: 0;
font-size: 1rem;
}
#cse-search-form2 table.gsc-search-box td.gsc-input {
padding-right: 0;
font-size: 1rem;
}
#cse-search-form2 .gsc-search-button.gsc-search-button-v2 {
/* background: rgba(255,255,255,.2) !important; */
/* background: #fff !important; */
background: none;
/* border-radius: 0 24px 24px 0;
border: 1px solid #212529;
border-left: none; */
border: none;
height: 48px;
/* height: 100%; */
margin: 0 0 1px 0;
padding: 10px 10px 9px 8px;
}
#cse-search-form2 #gsc-iw-id1 {
  background: none;
/* border-radius: 24px 0 0 24px;
border: 1px solid #212529;
border-right: none; */
border: none;
/* height: 46px; */
padding: 0;
}
#cse-search-form2 #gs_tti50 input {
font-size: 1rem;
background: none !important;
}
#cse-search-form2 .gsc-search-button-v2 svg {
  fill: #212529;
}

.devnote2 {
  display: none;
}
#navicon2 {
    display: none;
}

/* @media all and (max-width: 750px) {
  table.definition-table th, table.definition-table td {
    display: inline-block;
  }
  table.definition-table br {
    display: none;
  }
} */

@media (min-width: 1440px) {
  #mainContent, .wrapper {
    margin: 0 12rem;
  }

  /* article {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1.5rem;
  } */
}

/* @media (max-width: 1440px) { */
  /* #mainContent, #footer, .wrapper { */
  /* #mainContent, .wrapper { */
    /* max-width: 960px; */
    /* padding: 0 1em 1em 1em */
    /* margin: 0 2rem; */
  /* } */
/* } */

@media (min-width: 985px) {
  .row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* grid-template-columns: 40rem 1fr; */
    grid-column-gap: 1.5rem;
  }
}

@media (max-width: 985px) {
  /** hamburger */
  #navicon2 {
    display: inline-block;

    a {
      display: inline-block;
      vertical-align: middle;

      img {
        padding: 8px;
      }
    }
  }

  #pagehead1.show {
      /* height: 220px; */
      height: 18rem;
  }

  #pagehead-mid.show {
      height: 6rem;
      /* text-align: right; */
  }
  #pagehead-right.show {
      height: 6rem;
      /* text-align: right; */
  }

  #pagehead-mid:not(.show) #selectionbar2 {
      display: none;
  }
}

@media only screen and (max-width: 723px) {
    #sitename2 {
        /* float: left; */
    }
    /* #pagehead1:before {
        display: none;
    } */
    #pagehead1:not(.show) {
        /* height: 100px; */
    }
    #pagehead1.show {
        /* height: 220px; */
    }

    #pagehead-left {
        /* height: 75px; */
    }

    /* #pagehead-left, #pagehead-mid, #pagehead-right {
        display: block;
        width: 100%;
    } */

    #selectionbar2 {
        text-align: left;
    }
    #selectionbar2 li {
        display: list-item;
        line-height: 1.1rm;
        list-style: none;
    }

}
