  .pln    { color: #444;    } /* plain text                 */
  .tag    { color: #515484; } /* div, span, a, etc          */
  .atn,
  .atv    { color: #314B17; } /* href, datetime             */
  .new    { color: #660003; } /* itemscope, itemtype, etc,. */
  .curl   { color: #080;    } /* new url                    */

  table.definition-table {
    border-spacing: 3px;
    border-collapse: separate;
  }
  
  #morecheck {
	  outline: none;
  }
  
#morecheck:checked + div { display: none; }


#jumpmenu {
  position: fixed;
  display: block;
  width: auto;
  height: auto;
  padding: 3px;
  border-radius: 7px;
  border: 1px solid;
  text-align: center;
  box-shadow: 2px 2px lightgrey;
  background-color: #eeeeee;
  z-index: 100;
}

#jumpselections{
  border-top: 1px solid;
  text-align: center;
}

.jumpopenarrow {
  display: none;
  font-size: smaller;
}
.jumpclosedarrow {
  display: none;
  font-size: smaller;
}

.jumpselector {
  display: block;
  padding: 2px 2px 0 0;
}

@media only screen and (min-width: 1200px){
  #jumpmenu {
    margin-left: -11em;  
    margin-top: 5px;
  }
}
@media only screen and (max-width: 1200px){
  #jumpmenu {
    right: 10px;
    top: auto;
  }

  #jumpmenu.jumpclosed {
    opacity: 60%;
  }
  #jumpmenu.jumpopen {
    opacity: 85%;
  }
  #jumpmenu:hover {
    opacity: 85%;
  }

  #jumphead {
    text-align: center;
    padding: 5px;
  }

  #jumpmenu.jumpclosed .jumpclosedarrow {
    display: inline;
  }
  #jumpmenu.jumpopen .jumpopenarrow {
    display: none;
  }
  #jumpmenu.jumpclosed #jumpselections {
    display: none;
  }
}


.ackblock {
  display: block;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid;
  margin-bottom: 10px;
  box-shadow: 2px 2px lightgrey;
}

.ack {
  display: block;
  margin: 5px;
  padding: 5px;
}
.ack-first{
  padding-top: 0;
  padding-bottom: 5px;
}

.ack-rest{
  border-top: solid 1px;
  padding: 10px 5px 5px 5px;
}

.clipbutton {
    color: #202020 !important;
    border: 0;
    padding : 2px;
}

#examplespannel{
  width:auto;
  overflow-x: auto;
  margin-top: 10px;
}
.example-head {
    display: block;
    padding-bottom: 5px;
}

/* example tab selection */
.ds-selector-tabs {
    padding-bottom: 2em;
  }
  .ds-selector-tabs .selectors {
    padding: 0;
    display: contents;
    width: auto;
    overflow-x: auto;
    border-bottom: 1px solid #ccc;
    height: 28px;
  }
  .ds-selector-tabs .selectors a {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    transition: all,0.218s;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #666;
    border: 1px solid transparent;
  }
  .ds-selector-tabs .selectors a:first-child {
    margin-left: 2px;
  }
  .ds-selector-tabs .selectors a.selected {
    color: #202020 !important;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff !important;
  }
  #mainContent .ds-selector-tabs .selectors a:hover {
    background-color: transparent;
    color: #202020;
    cursor: pointer;
  }
  .ds-selector-tabs .ds-tab {
    display: none;
  }
  .ds-selector-tabs .ds-tab.selected {
    display: block;
  }
  

.selectors code {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ds-tab pre.ds-tab-content{
  display: block;
  margin-top: 1px;
}

div.ds-tab-note{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
}
a.ds-tab-note{
    color: #3A4956;
    text-decoration: none;
    border-bottom: dotted 1px #3A4956;
}
a:visited.ds-tab-note{
    color: #3A4956;
    text-decoration: none;
    border-bottom: dotted 1px #3A4956;
}
a:link.ds-tab-note{
    color: #3A4956;
    text-decoration: none;
    border-bottom: dotted 1px #3A4956;
}
a:hover.ds-tab-note{
    color: #3A4956;
    text-decoration: none;
    border-bottom: dotted 1px #3A4956;
}

.structureout {
  margin-left: 5px;
}

/*Effectively hide but can't use 'display: none;' as clip will not work if hidden*/
.structuretext {  
  white-space: pre-wrap;
  opacity: .01;
  height:0;
  position:absolute;
  z-index: -1;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  top: 4px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  top: 100%;
  left: 50%;
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip .tooltiptext.show {
  visibility: visible;
}

@media only screen and (max-width: 750px){
  .definition-table thead {
    display: none;
  }
  .definition-table td.prop-desc{
    border-bottom: 1px solid lightgray;
    width:  -webkit-fill-available;
  }
}