html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
svg {
  background: #fff;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Lacuna";
  src: url("lacuna.ttf");
}

.sector {
  vector-effect: non-scaling-stroke;
  stroke: #fff;
}
.sector:hover {
  opacity: .8;
}

.label {
  font-size: 13px;
  font-family: "Lacuna";
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
}
.halo {
  stroke: white;
  stroke-width: 2.5px;
  stroke-linejoin: round;
  font-weight: bold;
}